<!doctype html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="mailru-domain" content="TiooOyu8RHdHZiE1" />
        <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
        <title>{% block title %}{% endblock %} - QuicklyCheck </title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                {% include 'includes/header.html' %}
                {% include 'includes/menu.html' %}
                {% block content %}
                {% endblock content %}
                {% include 'includes/footer.html' %}
            </div>
        </div>
        {% include 'includes/scripts.html' %}
    </body>
</html>