{% extends 'base.html' %}
{% load static %}
{% block title %} Регистрация {% endblock %}
 
{% block content %}

    <div class="content margintop100" style="display: flex; justify-content: space-around;">
    <div class="form">


    <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'main/img/favicon.png' %}" alt="logo">
            </div>
            <div class="login-card-header">
                <h1 style="margin-bottom: 20px;">Создание учетной записи</h1>
                <div>Пожалуйста заполните форму для регистрации</div>
            </div>
            <form class="login-card-form" method="post">
                {% csrf_token %}
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="Введите Email">
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Введите пароль">
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock_open</span>
                    <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Подтвердите пароль">
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>

    </div>

{% endblock content %}