{% extends "base.html" %}
{% load static %}
{% block title %} Загрузка бланка {% endblock %}

{% block content %}

    <div class="content margintop100" style="display: flex; justify-content: space-around;">
    <div class="form">
        <form class="login-card-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">image</span>
                    <input required name="images" type="file" multiple placeholder="Выберите фото">
                </div>
                <button type="submit">Загрузить</button>
            </form>
    </div>
    </div>
{% endblock %}
