{% extends "base.html" %}
{% load static %}
{% block title %} Логин {% endblock %}

{% block content %}

    <div class="content margintop100" style="display: flex; justify-content: space-around;">
    <div class="form">

        {% if form.errors %}
            <p>Ошибка</p>
        {% endif %}

    <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'main/img/favicon.png' %}" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>Новая тестовая работа</h1>
            </div>
            <form class="login-card-form" method="post" action="{% url 'add_test' class_pk=class_pk %}">
                {% csrf_token %}
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">description</span>
                    <input type="text" name="name" autofocus autocapitalize="none" maxlength="254" required id="id_name" placeholder="Введите название работы">
                </div>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

    </div>
{% endblock %}