{% extends "base.html" %}
{% load static %}
{% block title %} {{ blank.author.name }} "{{ blank.test }}"{% endblock %}

{% block content %}
    <div class="content margintop100">
    <div class="eco highlight"> {{  blank.author.name  }} </div>
        <img style="margin: 50px" src="{{ blank.image.url }}" alt="" class="blank">
        <div class="students_list w50">
            <div class="students_info">
                <div class="students_title">Ответы</div>
            </div>
            {% for r in result %}
                <p class="nodec student">{{ forloop.counter }}. {{ r }}</p>
            {% endfor %}
            <div class="student"> Дано {{ score }} правильных ответов из {{ count }}!</div>
        </div>
    </div>
{% endblock %}