{% extends "base.html" %}
{% load static %}
{% block title %} {{ class.number }} "{{ class.letter }}" класс {% endblock %}

{% block content %}
    <div class="content margintop100">
    <div class="eco highlight"> {{ class.number }} "{{ class.letter }}" класс </div>
    <div class="class_content">
        <div class="students_list w50">
            <div class="students_info">
                <div class="students_title">Ученики</div>
                <a href="{% url 'add_student' class.pk %}" class="nodec material-symbols-rounded small_plus">add</a>
            </div>
            {% for student in class.students.all %}
                <div class="student"><a href="/" class="nodec student">{{ forloop.counter }}. {{ student.name }}</a></div>
            {% endfor %}
        </div>
        <div class="students_list w50">
            <div class="students_info">
                <div class="students_title">Тестовые работы</div>
                <a href="{% url 'add_test' class.pk %}" class="nodec material-symbols-rounded small_plus">add</a>
            </div>
            {% for test in class.tests.all %}
                <a href="{% url 'test_detail' test_pk=test.pk %}" class="nodec student">{{ test.name }}</a>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}