
{% extends "base.html" %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}
    <div class="content margintop100">
        <div class="promo">
            {% if user.is_authenticated %}
            <div class="side inline w50">
                <div class="eco">
                    <p class='highlight'>Проверим</p> знания учеников по последней теме?
                </div>
                <div class='text'>
                    Быстро проверяйте успеваемость учеников с помощью QuicklyCheck
                </div>
                <a href="{% url 'myclasses' %}" class="nodec reg">Мои классы</a>
            </div>
            {% else %}
            <div class="side inline w50">
                <div class="eco">
                    Мы <p class='highlight'>экономим</p> ваше время и силы
                </div>
                <div class='text'>
                    Сервис для быстрой проверки тестовых работ
                </div>
                <a href="{% url 'signup' %}" class="nodec reg">Зарегистрироваться</a>
            </div>
            {% endif %}
            <div class="side w50">
                <img src="{% static 'main/img/title.png' %}" alt="promo" class="promo-img">
            </div>
        </div>
        <div class="choice">
            <div class="choice-title">
                Почему учителя выбирают нас?
            </div>
            <div class="advantages">
                <div class="w30">
                    <div class="ad">
                        <div class="ad-title">Мгновенная проверка</div>
                        <div class="ad-text">Сэкономьте свое время на проверке тестовых работ. Наш сервис позволит сделать это за несколько минут.</div>
                    </div>
                    <div class="ad">
                        <div class="ad-title">Проводите анализ</div>
                        <div class="ad-text">Мы даем возможность быстро проанализировать выполненные работы и выявить пробелы в знаниях.</div>
                    </div>
                </div>
                <div class="w30">
                    <div class="ad">
                        <div class="ad-title">Сохраняйте работы</div>
                        <div class="ad-text">Сохраняйте проверенные работы, чтобы получить доступ к ним в любую минуту, находясь даже не на работе.</div>
                    </div>
                    <div class="ad">
                        <div class="ad-title">Легко отправляйте результаты</div>
                        <div class="ad-text">Чтобы поделиться результатами работы, нужно всего лишь скопировать ссылку и отправить ученикам!</div>
                    </div>
                </div>
                <div class="w30">
                    <div class="ch-title">
                        Открывайте для себя преимущества онлайн проверки тестовых заданий
                    </div>
                    <div class="ch-text">
                        Чтобы получить доступ ко всем сервисам, войдите в аккаунт
                    </div>
                    <a href="{% url 'logout'%}" class="nodec ch-login">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}