{% extends "base.html" %}
{% load static %}
{% block title %} {{ test.name }} {% endblock %}

{% block content %}
    <div class="content margintop100">
    <div class="eco highlight"> {{ test.name }} </div>
    <div class="class_content">
        <div class="students_list w70">
            <div class="students_info">
                <div class="students_title">Бланки</div>
                <a href="{% url 'add_blanks' test_pk=test.pk %}" class="nodec material-symbols-rounded small_plus">add</a>
            </div>
            {% for blank in test.blanks.all %}
                <a href="{% url 'blank_detail' blank_pk=blank.pk %}" class="nodec student">{{ blank.id_blank }}. {{ blank.author }}</a>
            {% endfor %}
        </div>
        <div class="students_list w30">
            <div class="students_info">
                <div class="students_title">Варианты</div>
                <a href="{% url 'add_pattern' test_pk=test.pk %}" class="nodec material-symbols-rounded small_plus">add</a>
            </div>
            {% for pattern in test.patterns.all  %}
                <a href="/" class="nodec student">{{ pattern }}</a>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}