* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'A FuturaRound';
}

@font-face {
	font-family: 'A FuturaRound';
	src: url(../fonts/afuturaround1.ttf);
}

/* .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
} */


.container {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 0px 40px 13px rgba(34, 60, 80, 0.2);
}

.nodec {
    text-decoration: none;
}

.header {
    width: 100%;
    box-shadow: 0px -6px 19px rgba(0, 0, 0, 0.33);
    height: 80px;
    display: flex;
    padding: 10px 70px;
    justify-content: space-between;
}

.side {
    display: flex;
}


.title {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: auto 10px;
}

.logo {
    width: 60px;
}

.login {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(272.24deg, rgba(70, 83, 210, 0.99) 0.07%, #E93AD2 90.37%);
    box-shadow: 0px 0px 30px rgba(60, 0, 128, 0.15), inset 0px 0px 17px rgba(223, 40, 255, 0.35);
    border-radius: 20px;
    height: 37px;
    padding: 8px 40px;
    width: 150px;
    letter-spacing: 0.05em;
    margin: auto 20px;
}

.check {
    color: #884ACE;
    letter-spacing: 0.05em;
    margin: auto 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}


.plus {
    font-size: 56px;
    margin: auto 20px;
    color: #884ACE;
    border: 2px solid #884ACE;
    border-radius: 40px;
}


.classlist_title {
    display: flex;
}


.class {
    width: 100%;
    margin: 40px 0px;
    padding: 30px;
    border: 3px solid #884ACE;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.class_actions{
    display: flex;
    margin: auto 0;
}

.class_open {
    color: white;
    background: linear-gradient(272.24deg, rgba(70, 83, 210, 0.99) 0.07%, #E93AD2 90.37%);
    box-shadow: 0 0 26px rgba(60, 0, 128, 0.15), inset 0 0 15px rgba(223, 40, 255, 0.35);
    border-radius: 89px;
    font-size: 24px;
    padding: 5px 30px;
    height: 40px;
    margin: auto 15px;
}

.class_delete {
    color: white;
    box-shadow: inset 0 0 15px rgba(223, 40, 255, 0.35);
    filter: drop-shadow(0 0 26px rgba(60, 0, 128, 0.15));
    border-radius: 89px;
    font-size: 24px;
    padding: 5px 30px;
    height: 40px;
    margin: auto 15px;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.class_title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-style: normal;
    margin: auto 0;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.class_content {
    display: flex;
    justify-content: space-around;
}

.students_info {
    display: flex;
    margin-bottom: 30px;
}

.students_title {
    margin: auto 15px;
    font-weight: 700;
    font-size: 32px;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small_plus {
    font-size: 36px;
    margin: auto 10px;
    color: #323232;
    border: 2px solid #323232;
    border-radius: 40px;
}

.students_list {
    background: #F7F7F7;
    border: 4px solid rgba(233, 58, 210, 0.75);
    box-shadow: 19px 20px 60px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    padding: 30px;
    margin: 30px 30px 0 0;
}

.student {
    color: #323232;
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
}


.promo {
    display: flex;
}

.margintop100 {
    margin-top: 100px;
}

.eco {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-style: normal;
    color: #323232;
    margin: 20px 0 30px 0;
    letter-spacing: 0.05em;
}

.highlight {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-style: normal;
    display: inline;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reg {
    color: white;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(272.24deg, rgba(70, 83, 210, 0.99) 0.07%, #E93AD2 90.37%);
    box-shadow: 0px 0px 30px rgba(60, 0, 128, 0.15), inset 0px 0px 17px rgba(223, 40, 255, 0.35);
    border-radius: 37px;
    height: 74px;
    padding: 22px 50px;
    width: 350px;
    letter-spacing: 0.05em;
    margin: 60px 0;
}

.text {
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color:#323232;
    margin: 44px 0;
}

.content {
    padding: 0 5%;
}

.promo-img {
    width: 100%;
}

.choice{
    margin-top: 70px;
}

.choice-title {
    font-weight: 700;
    font-size: 54px;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.advantages {
    display: flex;
}

.ad {
    border: 5px solid rgba(233,58,210,0.75);
    box-shadow: 23px 25px 75px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 200px;
}

.ad-title{
    font-weight: 700;
    font-size: 22px;
    color: #E93AD2;
    margin-bottom: 15px;
}

.ch-title {
    font-weight: 700;
    font-size: 31px;
    padding: 20px;
}

.ch-text {
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
}

.ch-login {
    padding: 20px;
    font-size: 26px;
    text-decoration-line: underline;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    margin-top: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.footer-text {
    margin: auto auto;
    color: #323232;
    font-size: 26px;
    font-weight: 700;
}

.cab {
    margin: auto 0;
}

.w30 {
    width: 33%;
}

.w40 {
    width: 40%;;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70{
    width: 70%;
}

.center {

}

/*login card*/
.login-card {
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}
/* ---------- */

/* Login Card Logo */
.login-card-logo {
    margin-bottom: 2rem;
}

.login-card-logo img {
    width: 60px;
}
/* ---------- */

/* Login Card Standard */
.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
}

.login-card a {
    text-decoration: none;
    color: #35339a;
}

.login-card a:hover {
    text-decoration: underline;
}
/* ---------- */

/* Login Card Header */
.login-card-header {
    margin-bottom: 2rem;
}

.login-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
    background: linear-gradient(270deg, #4653D2 0%, #E93AD2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.login-card-header h1+div {
    font-size: calc(1rem * .8);
    opacity: .8;
}
/* ---------- */

/* Login Card Form */
.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .9);
    margin-bottom: .5rem;
}
/* ---------- */

/* Login Card Footer */
.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .9);
}
/* ---------- */

/* Login Card Form Elements */
.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"],
.login-card input[type="number"]{
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    width: 100%;
    transition: background .5s;
    border: 2px solid rgba(233, 58, 210, 0.75);
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.31));
    border-radius: 10px;
}

.login-card input:focus {
    background: white;
}

.login-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

.login-card button {
    color: white;
    padding: 1rem;
    border-radius: 100px;
    width: 270px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(272.24deg, rgba(70, 83, 210, 0.99) 0.07%, #E93AD2 90.37%);
    box-shadow: 0px 0px 30px rgba(60, 0, 128, 0.15), inset 0px 0px 17px rgba(223, 40, 255, 0.35);
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}


.blank_image {
    width: 80%;
}

.download {
    color: white;
    background: linear-gradient(272.24deg, rgba(70, 83, 210, 0.99) 0.07%, #E93AD2 90.37%);
    box-shadow: 0 0 26px rgba(60, 0, 128, 0.15), inset 0 0 15px rgba(223, 40, 255, 0.35);
    border-radius: 89px;
    font-size: 24px;
    padding: 5px 30px;
    height: 40px;
    margin: auto 15px;
    text-decoration: none;
}
