{% extends "base.html" %}
{% load static %}
{% block title %} Выход из аккаунта {% endblock %}

{% block content %}

    <div class="content margintop100" style="display: flex; justify-content: space-around;">
    <div class="form">
    <div class="login-card">
            <div class="login-card-header">
                <h1>Выход</h1>
                <div style="font-size: 14px">Вы вышли из своего аккаунта, надеемся вы остались довольны работой платформы. До новых встреч!</div>
                <span class="form-item-icon material-symbols-rounded" style="color: green; font-size: 70px; margin-top: 40px">done</span>
            </div>
        </div>
    </div>

    </div>
{% endblock %}