{% extends "base.html" %}
{% load static %}
{% block title %} Логин {% endblock %}

{% block content %}

    <div class="content margintop100" style="display: flex; justify-content: space-around;">
    <div class="form">

        {% if form.errors %}
            <p>Email или пароль не подходят. Пожалуйста попробуйте снова.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>У вас нет доступа к данной странице, авторизуйтесь с помощью учетной записи с допуком.</p>
            {% else %}
                <p>Для того чтобы перейти на данную страницу нужно авторизоваться</p>
        {% endif %}
        {% endif %}

    <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'main/img/favicon.png' %}" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>Вход</h1>
                <div>Пожалуйста, авторизуйтесь для использования платформы</div>
            </div>
            <form class="login-card-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Введите Email">
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Введите пароль">
                </div>
                <div class="form-item-other">
                    <a href="#">Забыл пароль!</a>
                </div>
                <button type="submit">Войти</button>
            </form>
            <div class=" login-card-footer">
                У вас нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a>
            </div>
        </div>
    </div>

    </div>
{% endblock %}