{% load static %}
<div class="header">
    <div class="side">
        <div class="logo">
            <img class="logo" src="{% static 'main/img/favicon.png' %}" alt="Logo">
        </div>
        <a href="{% url 'index' %}" class="nodec title">QuicklyCheck</a>

    {% if user.is_authenticated %}
        <a href="{% url 'myclasses' %}"  class="nodec check">
            Мои классы
        </a>
        <span class="check">
            Бланк
        </span>
    {% endif %}
    </div>
    <div class="side">
        {% if user.is_authenticated %}
            <a href="" class="nodec" style="display: flex">
                <span class="form-item-icon material-symbols-rounded" style="color: #884ACE; font-size: 54px">account_circle</span>
                    <div class="check" style="margin: auto 10px">
                        Кабинет
                    </div>
            </a>

        {% else %}
            <span class="check">
                Проверка
            </span>
            <a class="nodec login" href="{% url 'login' %}">
                Войти
            </a>
        {% endif %}
    </div>
</div>